<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_20142178_TranManhHuy_QLSV.Properties.Settings.QLSVDBConnectionString"
            connectionString="Data Source=DESKTOP-FEQAJ4I\SQLEXPRESS;Initial Catalog=QLSVDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>